.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__textarea{
    min-height: 20vh;
    height: 40vh;
    width: 100%;
    border: 1px solid black;
    resize: vertical;
}